.vector {
    display: inline;
    background-image: url(../image/contact/Vector.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px 40px;
    transform: rotate(-10deg);
    width: 100%;
    z-index: 1;
}

@media (max-width: 600px) {
    .vector {
        padding: 5px 20px;
    }
}

/* #### */

.contact__content {
    background: #F8F8F8;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.header-main__title {
    font-size: 89px;
    line-height: 95px;
    padding: 20px;
}

.img-size__contact {
    display: flex;
    justify-content: flex-end;
}

.img-size {
    width: 100%;
}

.contacts__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.items-one {
    min-height: 250px;
    margin-right: 50px;
}

.items-two {
    min-height: 250px;
}

.item-input {
    margin-top: 22px;
    
}

.label {
    color: #191819;
    font-size: 22px;
    margin: 24px 0 4px 0;
}

/* #### */

.item {
    width: 568px;
    height: 58px;
    border-radius: 6px;
    background: #F6F6F6;
    border: none;
    margin: 5px 0;
    font-size: 22px;
    
}

.item::placeholder {
    color: #56565661;
    font-size: 20px;
}

.item:focus {
    border: #218225 solid 4px;
    box-shadow: #218225 2px 2px 20px 2px;
}

.item.used {
    border: #21218233 solid 4px;
    box-shadow: #21218233 2px 2px 20px 2px;
}

.item.error {
    border: rgb(232, 22, 22) solid 4px;
    box-shadow: rgb(232, 22, 22) 2px 2px 20px 2px;
}

.contact-message {
    display: flex;
    justify-content: start;
    height: 150px;
    width: 568px;
    resize: none;
    padding: 15px 0;
}

.contact-main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-send {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    background: #218225;
    border-radius: 12px;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    margin-top: 68px;
}

.contact-send:hover {
    background: #02b208;
}

.send-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 80px;
    width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ######## media ###################################### */

@media (max-width: 998px) {
    .contact__content {
        background: #F8F8F8;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        flex-direction: column;
    }

    .header-main__title {
        font-size: 50px;
        padding: 20px;
    }
    
    .items-one {
        margin-right: 0px;
    }
}

@media (max-width: 668px) {
    .header-main__title {
        font-size: 40px;
        line-height: 47px;
    }

    label {
        color: #191819;
        font-size: 14px;
        line-height: 36px;
    }

    .item {
        width: 350px;
        height: 56px;
    }

    .item::placeholder {
        color: #56565661;
        font-size: 14px;
    }

    .contact-send {
        font-size: 15px;
    }

    .send-contact {
        padding: 10px 80px;
        width: 200px;
    }
}

@media (max-width: 369px) {
    .item {
        width: 300px;
        height: 56px;
    }
}

/* ########## valid ########################################### */

.contact-phone::-webkit-outer-spin-button,
.contact-phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .contact-phone[type='number'] {
    -moz-appearance: textfield;
} */

.good-label {
    display: none;
    color: #191819;
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
}

.good-label.open-label {
    display: block;
}

/* #### modal pop-up ############################################ */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #00000072;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

#modal:target {
    opacity: 1;
    visibility: visible;
}

.modal.open {
    visibility: visible;
    opacity: 100;
    transition: 0s;
}

.modal-box {
    box-shadow: 0 10px 15px #787878;
    position: relative;
    transform: scale(0);
    transition: transform .8s;
}

.modal.open .modal-box {
    transform: scale(1);
}

/* ==== */
.content__send {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 6px rgba(189, 189, 189, 0.452);
    background: #ffffff;
    width: 600px;
    height: 540px;
    border-radius: 50px;
    padding: 50px;
    position: relative;
}

.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.item-values__title {
    color: #2ACC32;
    font-size: 44px;
    line-height: 46px;
    margin: 20px 0;
}

.item-value__text {
    color: #242424;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.send-action__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button__send {
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    background: #218225;
    border-radius: 12px;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 60px;
    border: none;
}

.button__send:hover {
    background: #02b208;
}

.close {
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.close:hover {
    background: #b3dfb5;
}

/* ####### media send ######################################### */

@media (max-width: 998px) {
    .awesome__send {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__send {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 6px rgba(112, 112, 112, 0.452);
        background: #ffffff;
        width: 440px;
        height: 500px;
        border-radius: 50px;
        padding: 50px;
    }

    .img_send {
        width: 50px;
        height: 50px;
    }

    .item-values__title {
        color: #2ACC32;
        font-size: 36px;
        line-height: 38px;
        margin: 20px 0;
    }

    .item-value__text {
        color: #242424;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 0;
    }

    .send-action__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .button__send {
        display: flex;
        text-align: center;
        align-items: center;
        text-align: center;
        background: #218225;
        border-radius: 12px;
        color: #FFFFFF;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 500;
        padding: 20px 60px;
        border: none;
    }

    .button__send:hover {
        background: #02b208;
    }

    .close {
        width: 40px;
        height: 40px;
        background: #d2d2d2;
        color: #A6A6A6;
        font-size: 26px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .close:hover {
        background: #b3dfb5;
    }
}

@media (max-width: 560px) {
    .awesome__send {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__send {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid 6px rgba(112, 112, 112, 0.452);
        background: #ffffff;
        width: 300px;
        height: 340px;
        border-radius: 50px;
        padding: 25px;
    }

    .img_send {
        width: 40px;
        height: 40px;
    }

    .item-values__title {
        color: #2ACC32;
        font-size: 36px;
        line-height: 38px;
        margin: 10px 0;
    }

    .item-value__text {
        color: #242424;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }

    .send-action__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .button__send {
        display: flex;
        text-align: center;
        align-items: center;
        text-align: center;
        background: #218225;
        border-radius: 12px;
        color: #FFFFFF;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        border: none;
    }

    .button__send:hover {
        background: #02b208;
    }

    .close {
        width: 30px;
        height: 30px;
        background: #d2d2d2;
        color: #A6A6A6;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .close:hover {
        background: #b3dfb5;
    }
}