.vector {
    display: inline;
    background-image: url(../image/contact/Vector.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px 40px;
    transform: rotate(-10deg);
    width: 100%;
    z-index: 1;
}

@media (max-width: 600px) {
    .vector {
        padding: 5px 20px;
    }
}

/* ########################### */

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #ffffff; */
}

.product__main {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__content {
    background-image: url(../image/product/Rectangle\ 2.png);
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 350px;
    width: 1190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    border-radius: 50px;
    height: 350px;
    width: 1190px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    /* background: linear-gradient(90deg, rgba(0, 0, 0), rgba(149, 59, 59, 0) 100%); */
    box-shadow: inset 400px 0px 150px 0px rgb(0, 0, 0);
}

.product__title {
    font-size: 67px;
    line-height: 72px;
    color: #fff;
    padding: 40px;
}

.product__values {}

.values {}

/* ######### main ###################################### */

.values__container {
    margin-top: 100px;
    margin-bottom: 200px;
}

.first-colum {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.second-colum {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    gap: 200px;
}

.values__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 1 50%;
    gap: 100px;
}

.value__item {
    width: 375px;
    height: 100%;
    min-height: 500px;
    height: 100%;
    background: #F5F5F5;
    padding: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.item-values {}

.item-values__img {
    position: relative;
    top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.img__product {
    width: 360px;
    height: 380px;
}

.item-values__title {
    color: #2ACC32;
    font-size: 41px;
    line-height: 45px;
    margin: 30px;
}

.item-values__text {
    color: #191819;
    font-size: 24px;
    line-height: 26px;
    text-decoration: none;
}

li {
    list-style-type: disc;
}

.green {
    background: #8ac6532d;
}

.text {}

/* ######## media ################################### */

@media (max-width: 998px) {
    .product__content {
        background-image: url(/image/product/Rectangle\ 2.png);
        background-repeat: no-repeat;
        border-radius: 50px;
        height: 350px;
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shadow {
        border-radius: 50px;
        width: 640px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background: linear-gradient( rgba(0, 0, 0), rgba(149, 59, 59, 0) 20%); */
        box-shadow: inset 0px 80px 100px 50px rgb(0, 0, 0);
    }

    .product__title {
        font-size: 54px;
        line-height: 764px;
        color: #fff;
        padding: 40px;
    }

    /* ######### main ###################################### */

    .values__container {
        margin-top: 250px;
        margin-bottom: 200px;
    }

    .second-colum {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 100px;
        gap: 200px;
    }

    .values__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 100%;
        gap: 100px;
    }

    .value__item {
        width: 500px;
        height: 100%;
        min-height: 500px;
        height: 100%;
        background: #F5F5F5;
        padding: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .item-values__img {
        position: relative;
        top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .img__product {
        width: 360px;
        height: 380px;
    }

    .item-values__title {
        color: #2ACC32;
        font-size: 41px;
        line-height: 45px;
        margin: 30px;
    }

    .item-values__text {
        color: #191819;
        font-size: 18px;
        line-height: 24px;
    }

    li {
        list-style-type: disc;
    }
}

@media (max-width: 750px) {
    .product__content {
        background-image: url(/image/product/Rectangle\ 2.png);
        background-repeat: no-repeat;
        border-radius: 50px;
        height: 350px;
        width: 330px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shadow {
        border-radius: 50px;
        width: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background: linear-gradient( rgba(0, 0, 0), rgba(149, 59, 59, 0) 20%); */
        box-shadow: inset 0px 80px 100px 50px rgb(0, 0, 0);
    }

    .product__title {
        font-size: 40px;
        line-height: 48px;
        color: #fff;
        padding: 20px;
    }

    /* ######### main ###################################### */

    .values__container {
        margin-top: 250px;
        margin-bottom: 200px;
    }

    .second-colum {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 100px;
        gap: 200px;
    }

    .values__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 1 100%;
        gap: 100px;
    }

    .value__item {
        width: 300px;
        height: 100%;
        min-height: 150px;
        background: #F5F5F5;
        padding: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .item-values__img {
        position: relative;
        top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .img__product {
        width: 270px;
        height: 290px;
    }

    .item-values__title {
        color: #2ACC32;
        font-size: 30px;
        line-height: 34px;
        margin: 30px;
    }

    .item-values__text {
        color: #191819;
        font-size: 18px;
        line-height: 20px;
    }

    li {
        list-style-type: disc;
    }
}
